<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main/index.css">
    <title>Document</title>
</head>
<body>

<div class="dashboard-container">

    <div class="grid-item" id="navigation">
        <h3>Company Name</h3>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
        <p class="welcome-message">Welcome, <%= name%></p>
    </div>

    <div class="grid-item" id="ticket-list">
        <h3>Tickets</h3>
        <ul>
            <li>
                <h4>Ticket Title</h4>
                <p>Ticket Description</p>
                <button>View</button>
            </li>
            <li>
                <h4>Ticket Title</h4>
                <p>Ticket Description</p>
                <button>View</button>
            </li>
        </ul>
    </div>

    <div class="grid-item" id="content">
        <p>content</p>
    </div>
</div>


</body>
</html>